.about {
  background: rgba(0,0,0,0.7);
  padding: 60px;
  font-family: Calibri;
  font-size: 1.1em;
  color: white;
  text-align: justify;
  font-weight: bolder;
}

.separateur {
  border-right: 1px solid #e0e0e0;
}
