<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/accueil" routerLinkActive href="">accueil</a></li>
      <li><a routerLink="/about" routerLinkActive href="">A propos</a></li>
      <li><a routerLink="/salle" routerLinkActive href="">nos salles</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Reserver</a></li>
      <li><a href="">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/accueil" routerLinkActive href="">accueil</a></li>
      <li><a routerLink="/about" routerLinkActive href="">A propos</a></li>
      <li><a routerLink="/salle" routerLinkActive href="">nos salles</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Reserver</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
