
<div class="row">
  <div id="mainBanner" class="parallax-container">
    <div class="carousel center">
      <div class="carousel-fixed-item center">
        <div id="img-darkside" class="row wow fadeInDown" data-wow-delay="0.25s">
          <div class="col m6 offset-m3">
            <img src="../assets/images/darkSide.png" class="responsive-img">
          </div>
        </div>
        <div class="row wow fadeInDown" data-wow-delay="0.75s">
          <h4>2 a 6 joueurs | 1 heure | Tout public</h4>
        </div>
        <div class="row elem wow fadeInDown" data-wow-delay="1.25s">
          <a href="#" class="buttonBook wow">Reserver !</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section aboutSection">
    <div class="row">
      <div class="col m8 offset-m2">
          <div class="col m4 padding-70">
            <img src="../../assets/images/icon_site/Entypo_d83d(1)_512.png" class="responsive-img">
          </div>

          <div class="col m4 padding-70">
            <img src="../../assets/images/icon_site/Entypo_d83d(0)_512.png" class="responsive-img">
          </div>
          <div class="col m4 padding-70">
            <img src="../../assets/images/icon_site/Entypo_d83d(2)_512.png" class="responsive-img">
          </div>
      </div>
    </div>
  </div>
  <div id="parallax-salles" class="parallax-container">
    <div class="parallax"><img src="../../assets/images/horror-house-background.jpg"></div>
    <app-salles></app-salles>
  </div>
  <div class="section">

  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/images/p2.jpg"></div>
  </div>
  <div class="section">
    <app-about></app-about>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/images/p1.jpg"></div>
  </div>
</div>
