<div class="row partie">
  <h1 class="center">Nos salles</h1>
  <div class="col m10 offset-m1">
    <div class="col m4 card effect8" style="padding: 0px">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/images/back_salle_saw.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">L'antre de John Kramer<i class="material-icons right">more_vert</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains...</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">L'antre de John Kramer<i class="material-icons right">close</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains. Personne ne sait vraiment qui est cet homme, qui enchaîne des meurtres plus sanglants les uns que les autres. A chaque fois, la police retrouve des cadavres mutilés, qui ont subis d'insuportables sévices. Il a la particularité de laisser une chance à ses victimes: s'ils arrivent à sortir de son antre par eux mêmes, il leur laisse la vie sauve... </p>
      </div>
      <div class="card-action">
        <a href="#">Reserver</a>
        <a href="#">Plus de détails</a>
      </div>
    </div>

    <div class="col m4 card effect8" style="padding: 0px">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/images/back_salle_saw.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">L'antre de John Kramer<i class="material-icons right">more_vert</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains...</p>
        <p><a href="#">Reserver</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains. Personne ne sait vraiment qui est cet homme, qui enchaîne des meurtres plus sanglants les uns que les autres. A chaque fois, la police retrouve des cadavres mutilés, qui ont subis d'insuportables sévices. Il a la particularité de laisser une chance à ses victimes: s'ils arrivent à sortir de son antre par eux mêmes, il leur laisse la vie sauve... </p>
      </div>
    </div>

    <div class="col m4 card effect8" style="padding: 0px">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/images/back_salle_saw.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">L'antre de John Kramer<i class="material-icons right">more_vert</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains...</p>
        <p><a href="#">Reserver</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Depuis aussi loin qu'il puisse s 'en souvenir "Dr Zabor", comme il aime se faire appeler, déteste les humains. Personne ne sait vraiment qui est cet homme, qui enchaîne des meurtres plus sanglants les uns que les autres. A chaque fois, la police retrouve des cadavres mutilés, qui ont subis d'insuportables sévices. Il a la particularité de laisser une chance à ses victimes: s'ils arrivent à sortir de son antre par eux mêmes, il leur laisse la vie sauve... </p>
      </div>
    </div>
  </div>
</div>
