<div class="row">
  <div class="col m7 offset-m1">
    <h1>L'antre de john kramer</h1>
    <div class="row">
      <ul>
        <li>
          <span class="tag orange">2 à 6 personnes</span>
        </li>
        <li>
          <span class="tag green">1 heure</span>
        </li>
        <li>
          <span class="tag blue">Difficultée moyenne</span>
        </li>
        <li>
          <span class="tag red">Tout public</span>
        </li>
      </ul>
    </div>
    <div class="row">
      <p id="synopsis" class="synopsis card"> </p>
    </div>
    <div class="row center">
      <a href="#" id="btn-book-room" class="buttonBook wow hidden">Reserver !</a>
    </div>


  </div>

</div>
